# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/


# Workspace settings
.vscode

# MacOS files
.DS_Store

# Soldeer dependencies
dependencies/